<template>
  <q-page padding>
    <link rel="stylesheet" href="../plugins/jvectormap/jquery-jvectormap.css" type="text/css" media="screen"/>
    <!-- content -->
    <div class="row gutter-sm">
      <div class="col">
        <q-card style="background-color : white">
          <q-card-title>
            150
            <span slot="subtitle">Devices</span>
            <img src="./page_images/cctv64.png" slot="right">  
            <img src="./page_images/cctv_mirror.png" slot="right"> 
          </q-card-title>
          <q-card-separator style="background-color : #00cccc" />
        </q-card>
      </div>
      <div class="col">
        <q-card  style="background-color : white">
          <q-card-title>
            150
            <span slot="subtitle">Comments</span>
            <img src="./page_images/chat.png" slot="right">  
          </q-card-title>
          <q-card-separator style="background-color : #00cccc" />
        </q-card>
      </div>
      <div class="col">
        <q-card style="background-color : white">
          <q-card-title>
            +100
            <span slot="subtitle">Team Members</span>
            <img src="./page_images/network64.png" slot="right">           
          </q-card-title>
          <q-card-separator style="background-color : #00cccc" />
        </q-card>
      </div>
    </div>
    <div style="padding-top : 10px">
      <div class="col">
        <q-card  style="background-color : white; height :200px">
          <q-card-title>
            CARD TITLE
            <span slot="subtitle">Sub Title blablablablabla</span>
            <q-icon/>
          </q-card-title>
          <q-card-separator style="background-color : #cccccc" />
          <q-card-main>
            <p>Some text too</p>
          </q-card-main>
        </q-card>
      </div>
    </div>
    <!--<div>
      <q-btn push color="red" @click="withMessage">
        Loading
      </q-btn>
    </div>-->
    <div class="row" style="padding-top : 20px ">
        <div class="col" style="background: #115BBF ;height:370px" id="world"> 
          
        </div>
        <div class="col">
          <div id="myChart"><router-view/></div>
        </div>
    </div>
  </q-page>
</template>
<script>
export default {
  data() {
    return {};
  },
  // name: 'PageName',
  methods: {
    show(options) {
      this.$q.loading.show(options);
      setTimeout(() => {
        this.$q.loading.hide();
      }, 3000);
    },
    withMessage() {
      this.show({
        message: "Some important process is in progress. Hang on..."
      });
    },
  },
};
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
import('jquery');
import("../plugins/jvectormap/jquery-jvectormap-data-turkey-tr-en.js");
import("../plugins/jvectormap/jquery-jvectormap-1.2.2.min.js");
export default {
  mounted(){
    $(document).ready(function () {
      var visitorsData = {
      32 :25,
      50 :70,
      6 :150,
      2 :8,
      5 :17,
      7 :51
   };
   $("#world").vectorMap({ 
    map: "turkey_1_mill_en",
    backgroundColor  : 'transparent',
    regionStyle      : {
      initial: {
        fill            : '#f5e5e9',
        'fill-opacity'  : 1,
        stroke          : 'none',
        'stroke-width'  : 0,
        'stroke-opacity': 1
      }
    },
    series           : {
      regions: [
        {
          values           : visitorsData,
          scale            : ['#92c1dc', '#ebf4f9'],
          normalizeFunction: 'polynomial'
        }
      ]
    },
    onRegionLabelShow: function (e, el, code) {
      if (typeof visitorsData[code] != 'undefined')
        el.html(el.html() + ': ' + visitorsData[code] + ' sales');
    } 
    });
});
  }
};
</script>


<style>
</style>