<template>
  <q-layout> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-layout-header>
      <q-toolbar>
        <q-btn
          flat
          round
          dense
          icon="menu"
          @click="leftDrawer = !leftDrawer"
        />
        <q-toolbar-title>
          NVR Management Panel
          <span slot="subtitle">Manage your devices</span>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <!-- (Optional) A Drawer; you can add one more with side="right" or change this one's side -->
    <q-layout-drawer
      side="left"
      v-model="leftDrawer"
    >
      <!-- QScrollArea is optional -->
      <q-scroll-area class="fit q-pa-sm">
        <!-- Content here -->
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Dashboard</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Device Map</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Data Management</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Device Details</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>NVR Events</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Device Diagnostics</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>User Management</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Drivers</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Maintainance Planning</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Reporting</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Mailbox</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Documentation</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item>
          <q-item-side icon="info" color="secondary" />
          <q-item-main>
            <q-item-tile inverted>Social Media</q-item-tile>
          </q-item-main>
        </q-item>
      </q-scroll-area>
    </q-layout-drawer>

    <q-page-container style="background-color : #ecf0f5">
      <!-- This is where pages get injected -->
      <router-view ></router-view>
      
      
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  // name: 'LayoutName',
  data() {
    return {
      leftDrawer: true
    };
  }
};
</script>

<style>
</style>